<!DOCTYPE html>
<html lang="en">
<html>
<head>
   <!--This popup was created with help and inspiration from https://www.w3schools.com/howto/howto_js_popup.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="Stylesheet" href="Stylesheet.css">
<script>
    function popupQ() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>
    <script src="../Model/index.js"></script>
</head>

<body style="text-align:center">

<div class="popup">
    <label for="input">Rating</label>
    <img src="images/2048px-Icon-round-Question_mark.jpg"  id="picture" class="questionMark" height="17" width="17" onmouseenter="popupQ()">
    <span class="popuptext" id="myPopup">For at give en rating skal du kende eksponeringen, eksponeringen er .... <br> Mere information: <span class="info" onclick="page()">Eksponering</span></span>
<input type="text" name="input" id="input">
</div>




</body>
</html>


